/*@import url("https://fonts.googleapis.com/css2?family=Poppins");*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --card-color: #0f0c18;
    --border-color: #ffbd59;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.container {
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.container .effect {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: var(--border-color);
    filter: blur(30px);
    transform: scale(0);
    transition: 3s ease-in-out;
}

.container .effect::before {
    position: absolute;
    content: "";
    width: 120%;
    height: 120%;
    background-color: #000;
    filter: blur(10px);
    transform: scale(0.5);
    transition: 2s ease-in-out;
}

.container .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(./img/img1.jfif) center;
    mix-blend-mode: multiply;
}

.container .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70%;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s ease-in-out;
    overflow: hidden;
    z-index: 10;
}

.card::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 150%;
    background-color: var(--border-color);
    animation: spin 6s linear infinite;
    box-shadow: 0 0 10px 10px var(--border-color);
    transition: 1.5s linear;
}

@keyframes spin {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.card::before {
    position: absolute;
    content: "";
    inset: 4px;
    background-color: var(--card-color);
    z-index: 10;
    border-radius: 16px;
}

.card:hover {
    box-shadow: 0 0 5px #ffbd59, 0 0 30px #ffbd597c, 0 0 100px #ffbd5940;
}

.card:hover::after {
    animation-play-state: paused;
    width: 200%;
}

.card:hover + .effect {
    transform: scale(1.5);
}

.card:hover + .effect::before {
    transform: scale(1.5);
    transition-delay: 1s;
}

.card .card-content {
    width: 100%;
    height: 100%;
    z-index: 20;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
}

.card-content img {
    width: 90%;
    object-fit: contain;
    filter: drop-shadow(0 10px 10px #000);
}

.card-content button {
    position: relative;
    width: 150px;
    height: 50px;
    background-color: var(--border-color);
    font-family: inherit;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: .5s ease;
    border: none;
    margin-top: 5px;
}

.card-content button::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-color: var(--card-color);
    top: 0;
    left: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 1;
}

.card-content button::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-color: var(--card-color);
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%) rotate(45deg);
    z-index: 2;
}

.card-content button:hover {
    transform: scale(0.95);
}
